services:
  backend:

    #image: ak2691/promptvsprompt:backend-latest
    build: ./server
    container_name: backend
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "3000:3000"
  frontend:
    #image: ak2691/promptvsprompt:frontend-latest
    build: ./client
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

  db:
    image: postgres:17
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: dockerdb
      POSTGRES_DB: promptbattle
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
volumes:
  postgres_data:
